$background: #11140e;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #2e312a;
$inverse_primary: #48672e;
$inverse_surface: #e2e3d9;
$on_background: #e2e3d9;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #1c3704;
$on_primary_container: #c9eea7;
$on_primary_fixed: #0c2000;
$on_primary_fixed_variant: #324e19;
$on_secondary: #29341f;
$on_secondary_container: #dae7c9;
$on_secondary_fixed: #141e0c;
$on_secondary_fixed_variant: #3f4a34;
$on_surface: #e2e3d9;
$on_surface_variant: #c4c8ba;
$on_tertiary: #003736;
$on_tertiary_container: #bbece9;
$on_tertiary_fixed: #00201f;
$on_tertiary_fixed_variant: #1e4e4d;
$outline: #8e9286;
$outline_variant: #44483e;
$primary: #aed18d;
$primary_container: #324e19;
$primary_fixed: #c9eea7;
$primary_fixed_dim: #aed18d;
$scrim: #000000;
$secondary: #becbae;
$secondary_container: #3f4a34;
$secondary_fixed: #dae7c9;
$secondary_fixed_dim: #becbae;
$shadow: #000000;
$surface: #11140e;
$surface_bright: #373a33;
$surface_container: #1e211a;
$surface_container_high: #282b24;
$surface_container_highest: #33362e;
$surface_container_low: #1a1d16;
$surface_container_lowest: #0c0f09;
$surface_dim: #11140e;
$surface_tint: #aed18d;
$surface_variant: #44483e;
$tertiary: #a0cfcd;
$tertiary_container: #1e4e4d;
$tertiary_fixed: #bbece9;
$tertiary_fixed_dim: #a0cfcd;
